<!DOCTYPE HTML>

<head>
 <meta charset="UTF-8" />
 <link rel="stylesheets" href="application.css" />
 <title>Bookers</title>
</head>

<body>
 <h1>ようこそ<strong>Bookers</strong>へ！</h1>
 <P>
   <strong>Bookers</strong>
   では、さまざまな書籍に関するあなたの意見や</p>
 <p>印象を共有し交換することができます</p>

 <p>
   <a href="/bookers/books">start</a>
  </p>


